section
  h2 关于作者

section
  p
    img.author-avatar(
      src="http://qiniu.meathill.com/wp-content/uploads/2016/07/20160607_005422423_iOS-825x510.jpg",
      height="400",
    )
  p 大家好，我是翟路佳。全栈工程师，编程爱好者，喜欢分享。

section
  p 我今年的目标是做一名兴趣使然的分享者，多出内容，帮助尽可能多的同学获得进步。
  p 我经常出没于：
  ul
    li
      a(href="https://blog.meathill.com/") 博客：https://blog.meathill.com/
    li
      a(href="https://weibo.com/meathill") 微博：https://weibo.com/meathill/
    li
      a(href="https://sf.gg/u/meathill") SF：https://sf.gg/u/meathill

section
  h4 其它分享
  p
    a(href="https://github.com/meathill-lecture")  https://github.com/meathill-lecture